{% extends "base.html" %}

{% block csStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}

{% block body %}

<div id="profile_container" class="card" style="text-align: center; width: 18rem;">

    
    <img src="{{ url_for('static', filename=current_user.profilePic) }}" alt="Profile Pic" id="profile_pic" class="card-img-top">        

    <div id="profile_info" class="card-body">

        <h3 id="first_name" class="card-title">First name: {{ current_user.firstName }}</h3>
        <h5>Last name: {{ current_user.lastName }}</h5>

        <p>Email: <a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></p>


    </div>
    

</div>

{% endblock %}