{% extends "base.html" %}


{% block form %}

<h1 style="text-align: center;">Sign Up Page</h1>


<form action="/sign_up" method="post" enctype="multipart/form-data" id="SignUpForm">



    <div class="mb-3">

        <label for="firstName_signUp" class="form-label">Enter First Name</label>
        <input type="text" name="firstName_signUp" id="firstName_signUp" placeholder="First Name" class="form-control">


    </div>



    <div class="mb-3">

        <label for="lastName_signUp" class="form-label">Enter Last Name</label>
        <input type="text" name="lastName_signUp" id="lastName_signUp" placeholder="Last Name" class="form-control">

    </div>


    <div class="mb-3">

        <label for="email_signUp" class="form-label">Enter Email</label>
        <input type="email" name="email_signUp" id="email_signUp" placeholder="Email" class="form-control">


    </div>


    <div class="mb-3">

        <label for="password1_signUp" class="form-label">Enter Password</label>
        <input type="password" name="password1_signUp" id="password1_signUp" placeholder="Password" class="form-control">


    </div>



    <div class="mb-3">

        <label for="password2_signUp" class="form-label">Confirm password</label>
        <input type="password" name="password2_signUp" id="password2_signUp" placeholder="Confirm Password" class="form-control">

    </div>

    

    <div class="mb-3">

        <label for="profilePic" class="form-label">Chose Profile Picture</label>
        <input type="file" name="profilePic" id="profilePic" accept="image/*" class="form-control">

    </div>


    <label for="confirm_inputs">Confirm Inputs</label>
    <input type="checkbox" name="confirm_inputs" id="confirm_inputs"><br>

    <button type="button" onclick="amala()">Click me!!!</button>

    <button type="submit" id="sign_up_btn_submit" disabled>Sign up</button>

</form>

{% endblock %}

{% block jsFiles %}
    <script src="{{ url_for('static', filename = 'js/control_signup.js' ) }}"></script>
{% endblock %}
