{% extends "base.html" %}


{% block form %}

<h1 style="text-align: center;">Sign Up Page</h1>


<form action="/sign_up" method="post" enctype="multipart/form-data">



    <div class="mb-3">

        <label for="firstName" class="form-label">Enter First Name</label>
        <input type="text" name="firstName" id="firstName" placeholder="First Name" required class="form-control">


    </div>



    <div class="mb-3">

        <label for="lastName" class="form-label">Enter Last Name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" required class="form-control">

    </div>


    <div class="mb-3">

        <label for="email" class="form-label">Enter Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required class="form-control">


    </div>


    <div class="mb-3">

        <label for="password1" class="form-label">Enter Password</label>
        <input type="password" name="password1" id="password1" placeholder="Password" required class="form-control">


    </div>



    <div class="mb-3">

        <label for="password2" class="form-label">Confirm password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required class="form-control">

    </div>
    


    <button type="submit">Sign up</button>

</form>

{% endblock %}